@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
  margin: 0 ;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --text-p: #DFF6FF;
  --text-h: #00FFDD;
  --text-hs: #467af5;
  --btn: #2FA4FF;
  --container-wi-lg: 75%;
  --container-wi-md: 86;
  --container-wi-sm: 90%;
  --transition: all 400ms ease;
  --max-with-phone: 480px;

}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  /* background: fixed; */
  /* background-image: url(./assets/img-1-bg.png); */
  color: var(--text-h);
  line-height: 1.7;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}
h1{
  font-size: 2.5rem;
}

section{
  margin-top: 8rem;
}

section > h2, section >h5{
  text-align: center;
  color: var(--text-hs);
}
section > h2{
  color: var(--text-h);
  margin-bottom: 3rem;
}

.text-light{
  color: var(--text-p);
}

a{
  color: var(--btn);
  transition: var(--transition);
}
a:hover{
  color: var(--text-p);
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}